body, p{
	margin:0;
	padding:0;
	font-family: Arial;
}

.container{
	border-radius: 4px;
	background-color: white;
	padding:5px;
}
.postContainer{
	padding:15px;
}
.post__info{
	display:flex;
}
.globe{
	height:11px;
	width:11px;
}
.line{
	margin-top:10px;
	border:1px solid #E2E6E6;
}
.post__content{
	padding:15px;
}
.blue{
	color: #365899;
}
.grey{
	color: #90949c;
}
.actions{
	height:25px;
	line-height: 25px;
	background-color: #F4F5F5;
	padding-left:15px;
	margin-bottom: 2px;
}
.thumbUp{
	height:14px;
	width:16px;
}
.commentContainer{
	height:50px;
	display:flex;
	align-items: center;
	background-color: #F4F5F5;
	margin-top:2px;
	padding-left: 15px;
}
